<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <extensions>
            <behaviorExtensions>
                <!-- OlsaAuthentication - Extension to support SOAP UserNameToken PasswordDigest mode -->
                <!-- OlsaNameSpaceFixUp - Extension to support fixing NameSpaces to resolve AXIS2 and WCF incompatability -->
                <add name="OlsaAuthentication" type="Olsa.WCF.Extensions.AuthenticationElement, Olsa.WCF, Version=1.0.0.0, Culture=neutral"/>
                <add name="OlsaNameSpaceFixUp" type="Olsa.WCF.Extensions.NameSpaceFixUpElement, Olsa.WCF, Version=1.0.0.0, Culture=neutral"/>
            </behaviorExtensions>
        </extensions>
        <bindings>
            <customBinding>
                <binding name="OlsaHTTPS" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <!-- Binding for use with HTTPS Olsa EndPoints -->
                    <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
                    <httpsTransport maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" maxBufferSize="1048576"/>
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="OlsaAUTH">
                    <OlsaAuthentication customerid="YOURCUSTOMERID" sharedsecret="YOURSHAREDSECRET">
                        <!-- Behaviour to support SOAP UserNameToken Password Digest -->
                    </OlsaAuthentication>
                </behavior>
                <behavior name="OlsaAUTH_AND_NAMESPACE">
                    <OlsaAuthentication customerid="YOURCUSTOMERID" sharedsecret="YOURSHAREDSECRET">
                        <!-- Behaviour to support SOAP UserNameToken Password Digest -->
                    </OlsaAuthentication>
                    <OlsaNameSpaceFixUp>
                        <!-- Behaviour to support fix of Namespaces to address AXIS2 / VWCF incompatability -->
                    </OlsaNameSpaceFixUp>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="YOUROLSASERVER/olsa/services/Olsa" binding="customBinding" bindingConfiguration="OlsaHTTPS" behaviorConfiguration="OlsaAUTH"
                contract="Olsa.OlsaPortType" name="Olsa">
                <!-- If using UD_SubmitReport be sure to switch behaviorConfiguration to OlsaAUTH_AND_NAMESPACE -->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>